<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sitename</title>
    <style>
        body {
        }
        header {
            padding-left:116px;
        }
        nav.top {
            padding-left: 116px;
        }
        nav.left {
            float: left;
            width: 100px;
            display: inline;
            margin-right: 16px;
        }
        section.main {
            width:844px;
            display: inline;
            float: left;
        }
    </style>
</head>
<body>
    <header>
        <hgroup>
            <h1>Sitename</h1>
            <h2>Contentname</h2>
        </hgroup>
        <p>Description</p>
    </header>
    <nav class="top">
        <a href="#">Website 1</a> |
        <a href="#">Website 2</a> |
        <a href="#">Website 3</a> |
        <a href="#">Website 4</a> |
        <a href="#">Website 5</a>
    </nav>
    <nav class="left">
        <ul>
            <li><a href="#">List 1</a></li>
            <li><a href="#">List 2</a></li>
            <li><a href="#">List 3</a></li>
            <li><a href="#">List 4</a></li>
            <li><a href="#">List 5</a></li>
        </ul>
    </nav>
    <section class="main">
        <p>
            <table>
                <thead>
                    <tr>
                        <th>Colum 1</th>
                        <th>Colum 2</th>
                        <th>Colum 3</th>
                        <th>Colum 4</th>
                        <th>Colum 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">Row 1</a></td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                    </tr>
                    <tr>
                        <td><a href="#">Row 1</a></td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                    </tr>
                    <tr>
                        <td><a href="#">Row 1</a></td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                    </tr>
                    <tr>
                        <td><a href="#">Row 1</a></td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                    </tr>
                    <tr>
                        <td><a href="#">Row 1</a></td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                        <td>Row 1</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </section>
</body>
</html>